.App{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: "menu" 
                          "content";
    justify-items: center;
    align-items: start;    
}


.menu-inicial{
    grid-area: menu;
}

.projetos-container{
    grid-area: content;
}

@media screen and (min-width: 768px){
    .App{
        width: 70%;
        margin: auto;
    }
}