.App{
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;    
    grid-template: 
                "menu" 1fr
                "content" 9fr
                /1fr;
}


.menu-inicial{
    grid-area: menu;
}

.projetos-container{
    grid-area: content;
}

@media screen and (min-width: 1200px){
    .App{
        width: 70%;
        margin: auto;
        row-gap: 1em;
    }
}